.btn {
  width: 148px;
  height: 48px;
  background-color: #2699FB;
  color: #fff;
  border-radius: 4px;
  outline: none;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
}

.btn:active {
  background-color: #007FEB;
}

.inp {
  width: 204px;
  height: 48px;
  box-sizing: border-box;
  color: #48AEFF;
  background-color: #fff;
  border: solid 1px #48AEFF;
  font-size: 14px;
  padding: 0 20px;
}

.inp::placeholder {
  color: #94D0FF;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-end;
}

.form-inp {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-inp label {
  font-size: 12px;
  color: #48AEFF;
}

#res {
  margin-top: 24px;
  display: none;
  width: 588px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.res-text {
  color: #48AEFF;
  text-align: center;
}

.res-text:nth-child(1) {
  font-size: 28px;
}

.res-text:nth-child(2) {
  font-size: 20px;
}

#res meter {
  width: 100%;
}