.btn {
  width: 48px;
  height: 48px;
  background-color: #2699FB;
  color: #fff;
  border-radius: 4px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
}

.btn:active {
  background-color: #007FEB;
}

.btn-lg {
  width: 100px;
}

input {
  width: 204px;
  height: 48px;
  box-sizing: border-box;
  outline: none;
  color: #BCE0FD;
  font-size: 14px;
  padding: 0 20px;
}

input:disabled {
  background-color: #fff;
  border: solid 1px #BCE0FD;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-bottom: 4px;
}